  <h3>Wednesday, Nov 13</h3>
      <section id="schedule"><table class="table table schedule table-striped" role="presentation"><tbody><tr><td></td><td><a href="#setup">Setup Instructions</a></td><td> Download files required for the lesson</td>
          </tr><tr><td>
<span class="visually-hidden">Duration: </span>00h 00m
</td>
<td>
 1. <a href="intro_data_set.html">Introduction to the Data Set</a>
</td>
<td>
What data will we be using in this workshop?
</td>
</tr><tr><td>
<span class="visually-hidden">Duration: </span>00h 35m
</td>
<td>
 2. <a href="input-file-format.html">Input File Format</a>
</td>
<td>
How are the data files formatted for qtl2?<br>Which data files are
required for qtl2?<br>Where can I find sample data for mapping with the
qtl2 package?
</td>
</tr><tr><td>
<span class="visually-hidden">Duration: </span>01h 20m
</td>
<td>
 3. <a href="calc-genoprob.html">Calculating Genotype Probabilities</a>
</td>
<td>
How do I calculate QTL at positions between genotyped markers?<br>How
do I calculate QTL genotype probabilities?<br>How do I calculate allele
probabilities?<br>How can I speed up calculations if I have a large
data set?
</td>
</tr><tr><td>
<span class="visually-hidden">Duration: </span>02h 20m
</td>
<td>
 4. <a href="perform-genome-scan.html">Performing a genome scan</a>
</td>
<td>
How do I perform a genome scan?<br>How do I plot a genome scan?<br>How
do additive covariates differ from interactive covariates?
</td>
</tr><tr><td>
<span class="visually-hidden">Duration: </span>03h 20m
</td>
<td>
 5. <a href="calc-kinship.html">Calculating A Kinship Matrix</a>
</td>
<td>
Why would I calculate kinship between individuals?<br>How do I
calculate kinship between individuals?<br>What does a kinship matrix
look like?
</td>
</tr><tr><td>
<span class="visually-hidden">Duration: </span>04h 20m
</td>
<td>
 6. <a href="perform-genome-scan-lmm.html">Performing a genome scan with
a linear mixed model</a>
</td>
<td>
How do I use a linear mixed model in a genome scan?<br>How do different
mapping and kinship calculation methods differ?
</td>
</tr><tr><td>
<span class="visually-hidden">Duration: </span>04h 50m
</td>
<td>
 7. <a href="perform-genome-scan-bin.html">Performing a genome scan with
binary traits</a>
</td>
<td>
“How do I create a genome scan for binary traits?”
</td>
</tr><tr><td>
<span class="visually-hidden">Duration: </span>05h 40m
</td>
<td>
 8. <a href="perform-perm-test.html">Performing a permutation test</a>
</td>
<td>
“How can I evaluate the statistical significance of genome scan
results?”
</td>
</tr><tr><td>
<span class="visually-hidden">Duration: </span>06h 10m
</td>
<td>
 9. <a href="find-lod-peaks.html">Finding QTL peaks</a>
</td>
<td>
“How do I locate QTL peaks above a certain LOD threshold value?”
</td>
</tr><tr><td>
<span class="visually-hidden">Duration: </span>07h 10m
</td>
<td>
10. <a href="est-qtl-effects.html">Estimating QTL effects</a>
</td>
<td>
How do I find the founder allele effects at a QTL peak?
</td>
</tr><tr><td>
<span class="visually-hidden">Duration: </span>07h 40m
</td>
<td>
11. <a href="integrating-gene-expression.html">Integrating Gene
Expression Data</a>
</td>
<td>
How can I use gene expression data to identify candidate genes?<br>What
is expression QTL mapping?
</td>
</tr><tr><td>
<span class="visually-hidden">Duration: </span>09h 00m
</td>
<td>
12. <a href="do_qtl_mapping.html">QTL Mapping in Diversity Outbred
Mice</a>
</td>
<td>
How do I map traits in Diversity Outbred mice?<br>How do I interpret
the founder allele effects at a QTL peak?<br>How do I perform
association mapping in Diversity Outbred mice?<br>How do I narrow down
the set of candidate genes under a QTL?
</td>
</tr><tr><td>
<span class="visually-hidden">Duration: </span>11h 30m
</td>
<td>
Finish
</td>
<td>
</td>
</tr><!--
Place links that you need to refer to multiple times across pages here. Delete
any links that you are not going to use.
 --></tbody></table><p>
      The actual schedule may vary slightly depending on the topics and exercises chosen by the instructor.
      </p>
