<div class="row">
  <div class="col-md-6">
  <h3>Wednesday, Nov 13</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="https://smcclatchy.github.io/2023-11-08-qtl-mapping/#setup">Follow setup instructions</a> </td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://smcclatchy.github.io/mapping/01-introduction/">Introductions and Workshop Overview</a></td> </tr>
      <tr> <td>09:30</td>  <td><a href="https://github.com/smcclatchy/mapping/blob/gh-pages/files/Gatti_DO_qtl2_workshop_2019.pptx">Quantitative trait locus mapping in multiparent crosses
 (download ppt)</a></td> </tr>
      <tr> <td>10:45</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://smcclatchy.github.io/mapping/02-input-file-format/">Input File Format</a></td> </tr>
      <tr> <td>11:30</td>  <td><a href="https://smcclatchy.github.io/mapping/03-calc-genoprob/">Calculating Genotype Probabilities</a></td> </tr>
      <tr> <td>12:30</td>  <td>Lunch</td> </tr>
      <tr> <td>1:30</td>  <td><a href="https://smcclatchy.github.io/mapping/04-special-x-covar/">Special covariates for the X chromosome</a></td> </tr>
      <tr> <td>2:00</td>  <td><a href="https://smcclatchy.github.io/mapping/05-perform-genome-scan/">Performing a genome scan</a></td> </tr>
      <tr> <td>2:45</td>  <td>Coffee</td> </tr>
      <tr> <td>3:00</td>  <td><a href="https://smcclatchy.github.io/mapping/06-perform-perm-test/">Performing a permutation test</a></td> </tr>
      <tr> <td>3:30</td>  <td><a href="https://smcclatchy.github.io/mapping/07-find-lod-peaks/">Finding LOD peaks</a></td> </tr>
      <tr> <td>3:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>4:00</td>  <td>End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
  <h3>Thursday, Nov 14</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://docs.google.com/presentation/d/1UPueI38aK_yRJUWviHR-eNJRRFVR9f-EOWpLpUMQASU">A Bird's Eye View of QTLs</a></td> </tr>
      <tr> <td>09:30</td>  <td><a href="https://smcclatchy.github.io/mapping/05-perform-genome-scan/">Recap: genome scans and permutation tests</a></td> </tr>
      <tr> <td>09:45</td>  <td><a href="https://smcclatchy.github.io/mapping/07-find-lod-peaks/">Finding LOD peaks (continued)</a></td> </tr>
      <tr> <td>10:15</td>  <td><a href="https://smcclatchy.github.io/mapping/08-calc-kinship/">Calculating A Kinship Matrix</a></td> </tr>
      <tr> <td>10:45</td>  <td>Coffee</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://smcclatchy.github.io/mapping/08-calc-kinship/">Calculating A Kinship Matrix (continued)</a></td> </tr>
      <tr> <td>11:30</td>  <td><a href="https://smcclatchy.github.io/mapping/09-perform-genome-scan-lmm/">Performing a genome scan with a linear mixed model</a></td> </tr>
      <tr> <td>12:30</td>  <td>Lunch</td> </tr>
      <tr> <td>1:30</td>  <td><a href="https://smcclatchy.github.io/mapping/11-est-qtl-effects/">Estimated QTL effects</a></td> </tr>
      <tr> <td>2:00</td>  <td><a href="https://smcclatchy.github.io/mapping/13-qtl-in-do/">QTL analysis in Diversity Outbred Mice</a></td> </tr>
      <tr> <td>2:45</td>  <td>Coffee</td> </tr>
      <tr> <td>3:00</td>  <td><a href="https://smcclatchy.github.io/mapping/13-qtl-in-do/">QTL analysis in Diversity Outbred Mice (continued)</a></td> </tr>
      <tr> <td>3:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>4:00</td>  <td>End</td> </tr>
    </table>
  </div>
</div>
